<div class="aboutus" ng-controller="aboutusController" scroll-top-dir>
	<div class="aboutus_banner">
    	<span>关于我们</span>
    	
    </div>
    <div class="aboutus_nav">
    	<div ng-class="{true:'navlist'}[ischeck]" id="navs">
    		<span ng-click="links(0)" ng-class="{true:'active'}[0==about.rootIndex]">关于我们</span>|
            <span ng-click="links(1)" ng-class="{true:'active'}[1==about.rootIndex]">企业文化</span>|
            <span ng-click="links(2)" ng-class="{true:'active'}[2==about.rootIndex]">股东背景</span>|
            <!--<span ng-click="links(3)" ng-class="{true:'active'}[3==about.rootIndex]">高管团队</span>|-->
            <span ng-click="links(4)" ng-class="{true:'active'}[4==about.rootIndex]">联系我们</span>
    	</div>
    </div>
    
    <div class="aboutcompany" id="a">
    	<h2>关于我们</h2>
    	<p>众网金融科技（上海）有限公司是智城控股的全资子公司，依托于北控集团与中国支付通强大的背景与资源，发挥整合和协同效应优势，将传统金融业务与互联网技术相结合，探索全新的综合金融服务模式。</p>
<p>我们的平台拥有丰富的金融产品和优质的互联网体验，我们秉承“以人为本”的经营理念，为广大客户提供专业、全面、及时、可靠的综合理财咨询规划服务，让投资理财变得简单快乐。</p>
<p>未来，众网金融计划全国布局，开设分、支机构，以覆盖社区为主，并在全国范围内组建起数千名专业的理财规划师精英团队。以专业化的团队运作，为广大客户量身定制全方位、个性化的综合金融服务与财富增值管理，真正满足客户在人生不同阶段的财富管理需求。</p>
    </div>
    
    <div class="culture">
    	<div class="culture_content" id="b">
        	<h2>企业文化</h2>
    		<ul>
            	<li>
                	<span class="c_img1 cim"></span>
                    <span>综合理财咨询服务</span>
                </li>
                <li>
                	<span class="c_img2 cim"></span>
                    <span>以人为本</span>
                </li>
                <li>
                	<span class="c_img3 cim"></span>
                    <span>实现财富增值</span>
                </li>
                <li>
                	<span class="c_img4 cim"></span>
                    <span>最受欢迎的金融服务企业</span>
                </li>
            </ul>
            <div class="clear"></div>
        </div>	
    </div>
    
    <div class="background" id="c">
    	<h2>股东背景</h2>
        
        <div class="bgs">
        	<div class="c_logo comp_logo2">
            	<span></span>
            </div>
            <div class="ab_company">中国支付通集团控股有限公司是一家拥有稀缺牌照的智能支付和小微金融类上市公司 （8325.HK）。公司拥有全国性预付卡牌照和互联网支付牌照，中国支付通的支付业务将以预付卡业务为基础，大力发展互联网支付、移动支付、O2O等业务，竭诚为C端客户服务，以建立和管理庞大的实名账户体系，长远将以此基础打造综合性个人金融服务平台。</div>
            <div class="clear"></div>
       	</div>
        
        <div class="bgs">
        	<div class="c_logo comp_logo1">
            	<span></span>
            </div>
            <div class="ab_company">北控水务集团是北控集团的控股公司，是北京市人民政府出资设立，组建的市属大型国有企业集团，旗下拥有北京控股、北控水务、北京发展、北京建设、中国燃气5家香港上市公司和燕京啤酒、惠泉啤酒2家A股上市公司。 北控水务是香港联合交易所主板上市公司(股份代号:0371)，是国内具有核心竞争力的大型水务集团。</div>
            <div class="clear"></div>
       	</div>
        
        
    </div>
    
    <!--<div class="team" id="d">
    	<div class="tm">
    		<h2>高管团队</h2>
            <div class="tmlist">
                <h1>张化桥</h1>
                <ul>
                    <li><span class="ico"></span>历任瑞士银行中国区副主席和研究主管、深圳控股（0604.HK）首席运营官</li>
                    <li><span class="ico"></span>历届“机构投资者”杂志评选的中国分析师第一名</li>
                    <li><span class="ico"></span>1986年至1989年间任北京中国人民银行总行的主任科员</li>
                    <li><span class="ico"></span>2011年中国小额信贷年度人物</li>
                </ul>
                <h1>林晓峰</h1>
                <ul>
                    <li><span class="ico"></span>上海阿谢资本管理有限公司创始人及管理合伙人</li>
                    <li><span class="ico"></span>拥有15年以上金融经验，A&A美元基金发起人</li>
                    <li><span class="ico"></span>2004年投资日本最大的网络支付平台e-Bank</li>
                </ul>
            </div>
 		</div>           
    </div>-->
    
    
    <div class="contactus" id="e">
    	<div class="contact_left">
        	<h2>联系我们</h2>
            <ul>
            	<li>服务时间：每日9:00-18:00</li>
                <li>服务热线：021 - 6237 9200</li>
                <li>客服邮箱： kefu@allinmoney.com</li>
                <li>办公地址：上海市长宁区福泉北路388号东方国信A座10楼</li>
                <li>邮政编码：200335</li>
            </ul>
        </div>
        <div class="contact_map"><img src="img/map.gif" /></div>
        <div class="clear"></div>
   	</div>
	
</div>
