*{
    margin:0;
    padding:0;
}
ol, ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    border: 0;
}
a{
    text-decoration: none;
}
a:link, a:visited, a:hover, a:active{
    color: inherit;
}
.clear, .clr{
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}
.j .w{
    width: 100%;
    min-width: 960px;
}
.j .b{
    background-color: #00A4FB;
}

.j .bar{
    width: 960px;
    min-width: 960px;
    height: 80px;
    margin-top: 35px;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
}



.j .bar .bd_logo{
    height: 30px;
    width: 276px;
    float: left;
}
.j .bar .bd_logo a{
    display: block;
    width: 100%;
    height: 100%;
    background: url("../img/logo.png") no-repeat;
}

.j .logo_text{
    height: 30px;
    padding: 0px 10px;
    color: #666666;
    font-size: 26px;
    width: auto;
    height: 100%;
    border-left: 1px solid;
    border-left-color: #666666;
    margin-left: 10px;
	font-family:"Microsoft YaHei UI";
}



.j .bg_body_right{
    margin-top: 40px;
    width: 300px;
    min-height: 300px;
    float: right;
    padding: 30px;
   background-color: #FFFFFF;
}



.j .input{
    height: 38px;
    width: 298px;
    margin:0px;
    display: block;
    list-style: none;

}



.j .input li {
    float: left;
}
.j .input li input{
    float: left;
    border: none;
    height: 40px;
    padding: 0px;
    padding-left: 10px;
    width: 248px;
    margin: 0px;
}



.j .button{
    display: block;
    width: 100%;
    margin-top: 20px;
    height: 40px;
    background-color: #FA9600;
    BORDER: none;
    font-size: 16px;
    /* font-style: oblique; */
    font-weight: bold;
    color: #ffffff;
}


.j .nline{
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    color: #666666;
}
.j .nline:hover{
    color: #006EB9;
}
.j .line{
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    border-left: 1px solid;
    padding-left: 10px;
    color: #666666;
}
.j .line:hover{
    color: #006EB9;
}

.j .c_f
{
    background-color: #F7F7F7;
    min-height: 460px;
    margin: 0;
    padding-bottom: 50px;
    min-width: 960px;
    width: 100%;

}
.j .bf{
    width: 960px;
    min-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.j .bar_f{
    margin-left: 150px;
}
.j .li_f{
    display: inline-block;
    margin-left: 30px;
}

.j .li_d
{
    display: inline-block;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: #CCCCCC;
    text-align: left;
}

.j .radio
{
    display: inline-block;
    line-height: 40px;
    height: 39px;
    width: 39px;
    border-radius: 19px;
    background-color: #ffffff;
    text-align: center;
    padding: 0;
    margin-left: 2px;
    font-size: 24px;
    color: #CCCCCC;

}

.j .bar_t
{
    display: inline-block;
    padding-left: 20px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
	font-family:"Microsoft YaHei UI";
}
.j .bfc
{
    width: 900px;
    min-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.j .input1_ul{margin-top:50px;}

.j .input1_li{
    display: inline-block;
    line-height: 40px;
    text-align: center;
margin-bottom: 10px;
}
.j .m
{
    display: inline-block;
    color: #ff0000;

}
.j .ml
{
    display: inline-block;
    color: #999999;
    font-size: 16px;
    width: 70px;
}
.j .input1_li
{
    margin-top: 20px;
}
.j .Incorphone{
	display:inline-block;
	width:315px;
	font-family:"Microsoft YaHei UI";
	text-align:left;
	padding-left:5px;
	font-size:16px;
	font-weight:bolder;
}
.j .Incorcard{
	display:inline-block;
	width:315px;
	text-align:left;
	padding-left:5px;
	font-size:16px;
	font-family:"Microsoft YaHei UI";
}

.j .sendma{height:40px;
	width:140px;
	background:#00A4FB;
	border:0;
	color:#FFF;
	font-size:14px;
	text-align:center;
	line-height:40px;
	margin-left:10px;
	border-radius:5px;
	
}

.j .input_l
{
    display: inline-block;
    padding: 0;
    width: 350px;
    margin: 0px;
    height: 30px;
}
.j .input1_icon
{
    display: inline-block;
    width: 22px;
    height: 22px;
    border: none;
	vertical-align:middle;
    background-image:url("../img/loginImg.png");
    background-position:0 -150px;
    margin-left: 2px;
    margin-left: 2px;
    BORDER-RADIUS: 11PX;
}
.j .input1_iconok
{
    display: inline-block;
    width: 22px;
    height: 22px;
    border: none;
	vertical-align:middle;
    background-image:url("../img/loginImg.png");
    background-position:-31px -150px;
    margin-left: 2px;
    margin-left: 2px;
    BORDER-RADIUS: 11PX;
}
.j .input1_message
{
    display: inline-block;
    color: #999999;
    font-size: 12px;
    margin-left: 10px;
}



.j .pass_f
{
    height: 30px;
    margin: 0;
    width: 210px;
}


.j #check
{
    margin: 0;
}
.j #checku
{
    margin: 0;
}
.j .m2
{    display: inline-block;
    color: #999999;
    font-size: 16px;
    width: 150px;
    text-align: right;
}
.j .select_l
{
    width: 364px;
}

.j .m3
{
    width: 100px;
    text-align: right;
}
.j .buttonf3
{
    margin-left: 100px;
}

.j .buttonf4{
    margin-left: auto;
    margin-right: auto;
}
.j .input1_li2{
    display: block;
}
.j .gopswback{
	margin-top:80px;
}
.j .register_d{
    text-align: center;
}
.j .register_c{
    text-align: left;
}
.j .r_c{

}
.j #inputb,.j #inputb1,.j #inputb2{
    margin-bottom: 0px;
    height: 35px;
}


.j #name1{
    margin-bottom: 10px;
}
.j .r_li{
    height: 45px;
}
.j .r_input{
    width:320px ;
    height: 35px;
    margin: 0px;
    margin-bottom: 0px;
}
.j .r_i_c{
    width: 180px;
    height: 35px;
}
.j .r_i_cc{
    width: 126px;
    margin-left: 10px;
    height: 45px;
    display: inline-block;
    background-color: #00A5FA;
    color: #FFFFFF;
    font-size: 14px;
    border: none;
    text-align: center;
	transition:0.5s all;
}
.j .r_i_cc:hover{
	background-color: #32B7FA;
	transition:0.5s all;
}
.j .r_i_cc:active{
	background-color: #0099E6;
}

.j .marget20
{
    margin-top: 20px;
}
.j .r_marge{
    width: 285px;
    display: inline-block;
    text-align: right;color:#777777;
}
.j .r_marge span{font-family:"Microsoft YaHei UI";}

.j .r_input_d{
    width: 334px;
    height: 45px;
    display: inline-block;
	border-radius:5px;
}
.j .buttonColor{
    display: block;
    background-color: #FA9600;
    BORDER: none;
    font-size: 16px;
    /* font-style: oblique; */
    font-weight: bold;
    color: #ffffff;
	transition:0.5s all;
}
.j .r_i_cc:disabled{
	background:#cccccc;
}

.j .r_button{
    margin-top: 50px;
}
.j .inline{
    display: inline-block;
}
.j .error{
    display: block;
    background-color: #ffffcc;
    margin-top: 10px;
}
.j .error_div{
    width: 600px;
    margin: auto;
    margin-top: 20px;
    background-color: #ffffcc;
}
.j #auto{
    margin: 0;
}

.j #r_ok_c{
    margin-top: 25px;
    border-bottom: 1px solid;
    color: #FA9600;
    font-size: 16px;
}
.j .r_gotodiv{
    margin-top: 90px;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
}
.j .r_goto_c_div{
    margin-top: 25px;
}
.j .r_ok_t{
    font-size: x-large;
    font-weight: bold;
}
.j #r_finish{
    width: 380px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}
.j .r_bar{
    margin-left: auto;
    margin-right: auto;
}
.j .margetT80{
    margin-top: 80px;
}
.j .over_message{
    font-size: 22px;
    font-weight:normal;
    color: #333333;
	font-family:"Microsoft YaHei UI";
}
.j .over_message1{
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}
.j .border{
    border: 1px solid;
    border-color: #fa9600;
    border-radius: 4px;
    height: 40px;
    margin-bottom: 10px;
    width: 298px;
}
.j .margeT20{
    margin-top: 20px;
}
.j .clickimg{
    color: #333333;
    border: none;
    font-weight: bold;
    background-color: #eeeeee;
}
.j .logintitle
{
    width: 300px;
}
.j .buttondiasble:disabled
{
    background-color: #CCCCCC;
	transition:0.5s all;
}
[ng-cloak]
{
    display: none !important;
}
