.my-select *{
	margin:0;
	padding:0;
}
.my-select ol, ul, li{
	list-style: none;
	margin: 0;
	padding: 0;
}
.my-select{
	position: relative;
}
.my-select .selected-pannel{
	height: inherit;
	width: inherit;
	position: relative;
}
.my-select .options-pannel{
	position: absolute;
	display: inherit;
	width: inherit;
	z-index: 9999;/* set max*/
}
.my-select .options-pannel .options{
	height: inherit;
}