<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>修改交易密码</title>



    <link rel="stylesheet" href="css/findPassWord.css"/>
</head>
<body class="bodylogin" ng-cloak>
<form name='fd_form' class="j" ng-controller='findController' ng-init="show_p=0" novalidate>
    <div class="w">
        <div class="bar">
            <span/>

            <div class="bd_logo">
                <a href="index.html" class="logo"></a>
            </div>

            </span>

            <span class="logo_text">修改交易密码</span>
            <span class="clear"></span>

        </div>
    </div>
    <div class="c_f" >
        <div  class="w bf">
            <ul class="bar_f ">
                <li class="li_f"><div id="f_page0" class="li_d"><div id="f_indexPage0" class="radio">1</div><span class="bar_t">旧交易密码验证</span></div></li>
                <li class="li_f"><div id="f_page1" class="li_d"><div id="f_indexPage1" class="radio">2</div><span class="bar_t">设置新交易密码</span></div></li>
                <li class="li_f"><div id="f_page2" class="li_d"><div id="f_indexPage2" class="radio">3</div><span class="bar_t">完成</span></div></li>
                
            </ul>
        </div>
        <div class="error_div">
            <div  class="error"  ng-show="fd.errormessage">

                <small class="error" ng-model="fd.errormessage" ng-show="fd.errormessage"><span ng-bind="fd.errormessage"></span></small>
            </div>
        </div>
        
        <div id="p3" ng-show="fd.step==2" class="bfc"><!--fd.step==2-->
            <ul class="input1_ul margetT80">
                <li class="input1_li input1_li2"> <span  class="over_message">新交易密码修改完成</span></li>
                
                <li class="input1_li input1_li2 gopswback">  <button type="submit" class="r_input_d buttonColor inline .marget20 buttondiasble"  ng-click="loginpage()">返回</button></li>
            </ul>


        </div>

      


   		<div id="p2" ng-show="fd.step==1" class="bfc">
       <ul class="input1_ul">

           <li class="input1_li"><div class="r_marge"> <span class="m">*</span><span class="">新交易密码：</span></div><!--密码正则/(((?=.*[a-zA-Z])(?=.*[0-9]))|((?=.*?[@!#$%^&*()_+\.\-\?<>'|=])(?=.*[0-9]))|((?=.*?[@!#$%^&*()_+\.\-\?<>'|=])(?=.*[a-zA-Z])))\S{8,16}$/-->
               <input name="f_npword" id="inputb"  maxlength="6" minlength="6" class="r_input" type='password' ng-pattern="/\d{6}/" ng-model="fd.confirmPword" placeholder="" ng-blur="isOldPd(fd_form.f_npword.$invalid,fd.confirmPword)" required/><img ng-show="fd_form.f_npword.$dirty && fd_form.f_npword.$invalid || fd.isoldpassword"  class="input1_icon"/><img ng-show="fd_form.f_npword.$valid && !fd.isoldpassword"  class="input1_iconok" />
              <span class="input1_message" ng-show="!fd.isoldpassword">交易密码只能是6位数字</span>
              <span class="input1_message" ng-show="fd.isoldpassword">交易密码不能与旧密码相同</span>
           </li>
          
           <li class="input1_li"><div class="r_marge"> <span class="m">*</span><span class="">重输新交易密码：</span></div>
                <input name="f_nrpword" id="inputb1" minlength="6" maxlength="6" class="r_input" type='password' pw-check="userPassword" ng-model="fd.confirmPassword2" placeholder="" ng-focus="" required/><img ng-show="fd_form.f_nrpword.$dirty && fd.confirmPword!=fd.confirmPassword2"  class="input1_icon"/><img ng-show="fd_form.f_nrpword.$valid && fd.confirmPword==fd.confirmPassword2"  class="input1_iconok" />
                 <span class="input1_message" ng-show="fd_form.f_nrpword.$dirty && fd.confirmPword!=fd.confirmPassword2">交易密码不一致</span>
               </li>
           
           

           <li class="input1_li r_button"><div class="r_marge "></div><button type="submit" class="r_input_d buttonColor inline .marget20 buttondiasble"  ng-disabled="fd_form.f_pcheck.$invalid||!fd.confirmPword||!fd.confirmPassword2||!confirmPass()||fd.isoldpassword"  ng-click="fiNewWord()">下一步</button></li>

       </ul>

   </div>


    	<div id="p1"  ng-show="fd.step==0  && showPage(0,'f')" class="bfc">
         <ul class="input1_ul" ng-init="clickimg=false">
            <li class="input1_li"><div class="r_marge"> <span class="m">*</span><span class="">旧交易密码：</span></div>
               <input name="f_opassword" id="inputb2" maxlength="6" minlength="6" class="r_input" type='password' ng-model="fd.opass" ng-pattern="/\d{6}/" ng-focus placeholder="" required/>　<img ng-show="fd_form.f_opassword.$dirty && fd_form.f_opassword.$invalid"  class="input1_icon"/>
                  <img ng-show="fd_form.f_opassword.$valid "  class="input1_iconok" /><span class="input1_message">必填项</span>
                
            </li>      

             <li class="input1_li r_button"><div class="r_marge "></div><button type="submit" class="r_input_d buttonColor inline .marget20 buttondiasble"  ng-disabled="!fd.opass"  ng-click="fdrequestuser()" ng-model="button">下一步</button></li>         
             
         </ul>


     </div>

    </div>
</form>
</body>
<script data-main="js/appLogin/main" src="js/lib/require/require.js">
</script>
</html>