<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>找回密码</title>

    <link rel="stylesheet" href="css/app.css" />

    <link rel="stylesheet" href="css/login.css"/>
</head>
<body class="bodylogin" ng-cloak>
<form name='forget_form' class="margeB0" ng-controller='forgetController' ng-init="show_p=0">
    <div class="w">
        <div class="bar">
            <span/>

            <div class="bd_logo">
                <a href="index.html" class="logo"></a>
            </div>

            </span>

            <span class="logo_text">找回密码</span>
            <span class="clear"></span>

        </div>
    </div>
    <div class="c_f" >
        <div  class="w bf">
            <ul class="bar_f ">
                <li class="li_f"><div id="f_page0" class="li_d"><div id="f_indexPage0" class="radio">1</div><span class="bar_t">输入用户名</span></div></li>
                <li class="li_f"><div id="f_page1" class="li_d"><div id="f_indexPage1" class="radio">2</div><span class="bar_t">身份验证</span></div></li>
                <li class="li_f"><div id="f_page2" class="li_d"><div id="f_indexPage2" class="radio">3</div><span class="bar_t">重置密码</span></div></li>
                <li class="li_f"><div id="f_page3" class="li_d"><div id="f_indexPage3" class="radio">4</div><span class="bar_t">完成</span></div></li>
            </ul>
        </div>
        <div class="error_div">
            <div  class="error"   ng-show="forget.errormessage">

                <small class="error" ng-model="forget.errormessage" ng-show="forget.errormessage"><span ng-bind="forget.errormessage"></span></small>
            </div>
        </div>
        <div id="p4" ng-show="forget.step==3" class="bfc">
            <ul class="input1_ul margetT80">
                <li class="input1_li input1_li2"> <span  class="over_message">密码已重置</span></li>
                <li class="input1_li input1_li2"> <span class="over_message1">请牢记哦</span></li>
                <li class="input1_li input1_li2">  <button type="button" class="buttonf buttonf4 buttondiasble" ng-click="loginpage()">现在登陆</button></li>
            </ul>


        </div>

      <div id="p3" ng-show="forget.step==2" class="bfc">
          <ul class="input1_ul">

              <li class="input1_li"><div class="r_marge"> <span class="m">*</span> <span class="">输入新密码：</span></div><input name="f_pw" maxlength="16" id="inputb" class="r_input" type='password'ng-model="forget.password"
                                                                                                                            ng-pattern="/(((?=.*[a-zA-Z])(?=.*[0-9]))|((?=.*?[@!#$%^&*()_+\.\-\?<>'|=])(?=.*[0-9]))|((?=.*?[@!#$%^&*()_+\.\-\?<>'|=])(?=.*[a-zA-Z])))\S{8,16}$/"
                                                                                                                           ng-focus
                      /><img ng-show="forget_form.f_pw.$invalid"  class="input1_icon"/>
                  <img ng-show="!forget_form.f_pw.$invalid &&forget_form.f_pw.$dirty&&forget.password"  class="input1_iconok" /><span class="input1_message">必须8到16位，包含数字和字母</span></li>

              <li class="input1_li"><div class="r_marge"> <span class="m">*</span> <span class="">确认新密码：</span></div><input name="f_rpw" id="inputb"  maxlength="16" class="r_input" type='password'ng-model="forget.confirmPassword"/>
                  <img ng-show="!confimPassword('forget')&&forget.confirmPassword " class="input1_icon"/>
                  <img  ng-show="confimPassword('forget')  &&forget_form.f_rpw.$dirty &&forget.confirmPassword " class="input1_iconok" /><span class="input1_message" ng-show="!confimPassword('forget')&&forget.confirmPassword">两次密码不一致</span></li>

              <li class="input1_li r_button"><div class="r_marge "></div><button type="button" class="r_input_d buttonColor inline .marget20 buttondiasble"  ng-disabled="forget_form.f_rpw.$invalid||forget_form.f_pw.$invalid||forget_form.f_pw.$pristine||forget_form.f_rpw.$pristine||!confimPassword('forget')||!forget.password"  ng-click="userpasswordreset()">下一步</button></li>

          </ul>


      </div>


   <div id="p2"  ng-show="forget.step==1"class="bfc">
       <ul class="input1_ul">

           <li class="input1_li"><div class="r_marge"> <span class="m">*</span><span class="">请选择身份验证方式：</span></div>
               <select class="r_input select_l">
                   <option value="s1">已验证手机</option>
                  <!-- <option value="s2">已验证邮箱</option>-->
               </select>
               </li>
           <li class="input1_li"><div class="r_marge"> <span class="m">*</span><span class="">已验证邮箱或手机：</span></div>
               <span id="user_phone" class="r_input ">

               </span>
           </li>
           <li class="input1_li"><div class="r_marge"><span class="m">*</span> <span class="">短信验证码：</span></div><div  class="r_input_d"><input name="f_pcheck" id="inputb" class="r_i_c" type='text' ng-model="forget.smsCode"
                                                                                                                                                ng-minlength="6"
                                                                                                                                                ng-maxlength="6"
                                                                                                                                                ng-focus
                   /><button type="button" id="ptimeout_f"    class="r_i_cc" ng-click="smstimerout('forget')" ng-disabled="forget.smsdisable">发送动态码(60)</button></div><img class="input1_icon"   ng-show="forget_form.f_pcheck.$invalid"  />
             <!--  <img  class="input1_iconok"  ng-show="!forget_form.f_pcheck.$invalid &&forget_form.f_rpw.$dirty"  />-->
           </li>

           <li class="input1_li r_button"><div class="r_marge "></div><button type="button" class="r_input_d buttonColor inline .marget20 buttondiasble"  ng-disabled="forget_form.f_pcheck.$invalid||forget_form.f_pcheck.$pristine||!forget.smsCode"  ng-click="forgetCheckOtp()">下一步</button></li>

       </ul>

   </div>


     <div id="p1"  ng-show="forget.step==0 &&showPage(0,'f')"class="bfc">
         <ul class="input1_ul" ng-init="clickimg=false">
             <li class="input1_li"><div class="r_marge"> <span class="m">*</span><span class="">登录名/手机号：</span></div><input  ng-blur="onblurcheck('username',forget.username)" name="f_name" id="inputb"  class="r_input" type='text' ng-model="forget.username"
                                                                                                                         ng-pattern="/^([\w\d_]{4,30})|((0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8})$/"
                                                                                                                         maxlength="30"


             /><img  class="input1_icon" ng-show="forget_form.f_name.$invalid " /><img  class="input1_iconok" ng-show="!forget_form.r_name.$invalid &&forget_form.r_name.$dirty && forget.username " />
             <span class="input1_message">请输入登陆名或者手机号</span></li>

             <li class="input1_li"><div class="r_marge"> <span class="m">*</span> <span class="">验证码：</span></div><div  class="r_input_d"><input name="f_opt" id="inputb" class="r_i_c" type='text'ng-model="forget.captcha"
                                                                                                                                                 ng-minlength="4"
                                                                                                                                                 ng-maxlength="4"
                                                                                                                                                 ng-focus

                     /><img id="f_check" class="r_i_cc" ng-init="firstgetCaptcha('forget')" ng-show="clickimg" ng-click="getcaptchatoken('forget')"/>
       <!--          <button id="but_check" class="r_i_cc clickimg"
                         ng-click="firstgetCaptcha('forget')" ng-show="!clickimg">点击获取验证码
                 </button>-->
             </div><img ng-show="forget_form.f_opt.$invalid"  class="input1_icon" />
                <!-- <img   ng-show="!forget_form.f_opt.$invalid &&forget_form.f_opt.$dirty&&forget.captcha" class="input1_iconok" />-->
             </li>

             <li class="input1_li r_button"><div class="r_marge "></div><button type="button" class="r_input_d buttonColor inline .marget20 buttondiasble"  ng-disabled="forget_form.f_opt.$pristine||forget_form.f_name.$pristine||forget_form.f_name.$invalid||forget_form.f_opt.$invalid||!forget.captcha||!forget.username"  ng-click="forgetrequestuser()">下一步</button></li>
         </ul>


     </div>

    </div>
</form>
<footer class="foot_container" ng-controller="footController">
    <div class="wrap_foot">
        <div class="left-block block">
            <ul>
                <li>
                    <p>
                        <span class="document" ng-repeat="document in documentList"><a href="#/">{{document.title}}</a></span>
                    </p>
                </li>
                <li class="copyright">
                    <p>Copyright © 2015-2016 众网金融科技(上海) allinmoney.com 版权所有</p>
                    <p>备案号 沪ICP备15055080号-1</p>
                </li>
                <li>
                    <img class="icon" src="img/safeiconlogo.png">
                </li>
            </ul>
        </div>
        <div class="middle-block block">
            <ul>
                <li><p class="p1">服务热线</p></li>
                <li><p class="p2 orange">400 800 800</p></li>
            </ul>
        </div>
        <div class="right-block block">
            <div class="left-pannel">
                <p>关注我们</p>
                <p>
                    <span class="qq_icon icon"></span>
                    <span class="weibo_icon icon"></span>
                </p>
            </div>
            <div class="right-pannel">
                <img class="2D_code" src="img/2D_code_105_105.png" />
            </div>
        </div>
    </div>
    <span class="clear"></span>
</footer>
</body>
<script data-main="js/appLogin/main" src="js/lib/require/require.js">

</script>
</html>